/* 
    Created on : Jun 10, 2015, 10:27:26 AM
    Author     : Robert Erickson
*/
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
body{
    margin: 0 5% 0 5%;
}
article{
    padding: 2em;
}

figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

figure{
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;
}
footer{
    clear: both;
}

h1{
    text-align: Center;
    font-size: 50px;
}
h1, h2, h3, h4, h5, h6{
    padding: 1.5em 0 .8em 0;
}
header{
    overflow: auto; /* forces header to fit to figure */
}

header h1{
    padding-bottom: 2em;
    padding-top: 75px;
}

img{
    border-radius: 0.4em;
    max-width: 100%
}

p{
    padding: 1em 0 1em 0;   
}
section{
    padding: 2em;
    width: 40%;  
}

/*------------------------   classes           ------------------------------ */

p:nth-child(odd){
    background-color: whitesmoke;
}

p:nth-child(even){
    background-color: lightcyan;
}

.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    border: thin solid darkslategray;
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}

/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
}

/*------------------------   table page  only  ------------------------------ */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}

body p.noticeMe{
    background-color: #cc0033;
    color: wheat;
}