/* 
    Created on : Jun 10, 2015, 10:27:26 AM
    Author     : Robert Erickson
*/
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
article{
    padding: 2em;
}

figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

figure{
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;
}
footer{
    clear: both;
    color: #335680;
}

h1{
    margin-left: 43%;
    font-size: 50px;
    color: #d8ffff;
}
h2{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #d8ffff;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    padding: 1.5em 0 .8em 0;
}
header{
    overflow: auto; /* forces header to fit to figure */
}

header h1{
    padding-bottom: 2em;
    padding-top: 75px;
}

img{
    border-radius: 0.4em;
    max-width: 100%
}

p{
    padding: 1em 0 1em 0;
    color: #8bceef;
}
section{
    padding: 2em;
    width: 40%;  
}

label{
    margin: 0 4px 0 4px;
}
nav{
    text-align: center;
}
fieldset {
    color: #8bceef;
}
td{
    background: white;
}
th {
    color: wheat;
}
/*------------------------   classes           ------------------------------ */

p:nth-child(odd){
    background-color: #f5f5f578;
}


.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    border: thin solid darkslategray;
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}


/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
}

li {
    color: #b31515;
    text-align: CENTER;
}

/*------------------------   table page  only  ------------------------------ */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}
#submitPic{
    float: right;
    height: 300px;
    margin-bottom: 40px;
}

#isAdmin{
    background: white;
    border-radius: 3px;
}
input#btnSubmit {
    background-color: white;
    border-radius: 5px;
}

body p.noticeMe{
    background-color: #cc0033;
    color: wheat;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: rgba(0, 0, 0, 0.98);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, rgb(0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, rgb(0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 30px;
}

.header{
    height: 75vh;
    background-image: linear-gradient(to right bottom, rgba(210, 197, 201, 0.8), rgba(124, 124, 124, 0.82)) ,url(../images/Main.jpg);
    /* what ever width of element it will always fit wlement inside of box */
    background-size: cover;
    background-position: top;

    position: relative;
}

input[type=checkbox], input[type=radio] {
    margin: 0 5px 0px 6px;
    margin-top: 1px\9;
    line-height: normal;
}
#NotPrivlaged{
    text-align: center;
    font-size: 30px;
    color: darkred;
    font-weight: bolder;
}
article#main {
    color: aliceblue;
}